---
layout: default
---

<div class="home-intro">
  <div class="profile-row">
    <img src="https://github.com/AdamLovattDevOps.png" alt="Profile" class="profile-pic">
    <div class="profile-info">
      <p class="tagline">{{ site.description }}</p>
      <a href="https://github.com/AdamLovattDevOps" class="github-link">github.com/AdamLovattDevOps</a>
    </div>
  </div>
  <img src="https://ghchart.rshah.org/AdamLovattDevOps" alt="GitHub contributions" class="contrib-chart">
</div>

{{ content }}

<h2 class="posts-heading">Posts</h2>

<div class="post-list">
  {% for post in site.posts %}
  <article class="post-card">
    <a href="{{ post.url }}" class="post-link">
      <h3>{{ post.title }}</h3>
      {% if post.description %}
      <p class="post-desc">{{ post.description }}</p>
      {% endif %}
      <span class="post-date">{{ post.date | date: "%d %b %Y" }}</span>
    </a>
  </article>
  {% endfor %}
</div>
