---
layout: default
---

<p class="tagline">{{ site.description }}</p>

{{ content }}

<h2 class="posts-heading">Posts</h2>

<div class="post-list">
  {% for post in site.posts %}
  <article class="post-card">
    <a href="{{ post.url }}" class="post-link">
      <h3>{{ post.title }}</h3>
      {% if post.description %}
      <p class="post-desc">{{ post.description }}</p>
      {% endif %}
      <span class="post-date">{{ post.date | date: "%d %b %Y" }}</span>
    </a>
  </article>
  {% endfor %}
</div>
